---
pageable: true
---
%article#news
  %dl
    - page_articles.each do |article|
      %dt
        %time= article.date.strftime('%b %e %Y')
        = link_to article.title, article.url
      %dd= article.body

  %footer
    - if next_page
      %p.older= link_to 'older', next_page.url

    - if prev_page
      %p.newer= link_to 'newer', prev_page.url
