%article#home
  %nav
    %ul
      %li#current.active
        %a(href="#") Current (#{data.current.count})
      %li#tba
        %a(href="#") TBA (#{data.tba.count})
      %li#past
        %a(href="#") Past (#{data.past.count})
  %dl.current.events.active
    - data.current.each do |event|
      = partial :event, locals: { event: event }
  %dl.tba.events
    - data.tba.each do |event|
      = partial :event, locals: { event: event }
  %dl.past.events
    - data.past.each do |event|
      = partial :event, locals: { event: event }
