!!!
%html
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=edge;chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    %title Ruby Conferences
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: 'Atom Feed'
    %link(href='http://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css')
    %link(rel='stylesheet' href='/css/style.css' type='text/css')
    %link(rel='stylesheet' href='/css/mobile.css' type='text/css' media='only screen and (max-device-width: 480px)')
    %script(type='text/javascript' src='/js/jquery.js')
    %script(type='text/javascript' src='/js/behavior.js')
  %body
    #page
      %header
        %h1
          %span Ruby
          %span Conferences
        %p A simple list of Ruby conferences, published collaboratively with the Ruby community&ndash;#{link_to 'pull requests', 'https://github.com/ruby-conferences/ruby-conferences-site'} welcome! Get our filtered #{link_to 'event news', '/news/'} in the #{link_to 'feed', '/news/feed.xml'} or #{link_to '@rubyconferences', 'https://twitter.com/rubyconferences'}.
      = yield
      %footer
        %p#byLine lovingly built by #{link_to 'Jon Allured', 'http://jonallured.com'}
        %p #{link_to 'Feed', '/news/feed.xml'} | #{link_to '@rubyconferences', 'https://twitter.com/rubyconferences'}
    = google_analytics_tag
